<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  
  <display-name>memoire_Gestion</display-name>
  <context-param>
    <param-name>JDBC_DRIVER</param-name>
    <param-value>com.myql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_URL</param-name>
    <param-value>jdbc:mysql://localhost:3306/memoire</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_LOGIN</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_PASSWORD</param-name>
    <param-value>adama</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>web</display-name>
    <servlet-name>web</servlet-name>
    <servlet-class>connexionServlet.web</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>web</servlet-name>
    <url-pattern>/web</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connexionServlet</display-name>
    <servlet-name>connexionServlet</servlet-name>
    <servlet-class>web.connexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexionServlet</servlet-name>
    <url-pattern>/connexionServlet</url-pattern>
  </servlet-mapping>
   
   <servlet>
   	<servlet-class>com.dmc.Admin_servlet</servlet-class>
   </servlet>
   
  <servlet>
    <description></description>
    <display-name>servlet_accueil</display-name>
    <servlet-name>servlet_accueil</servlet-name>
    <servlet-class>Admin_servlet.servlet_accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_accueil</servlet-name>
    <url-pattern>/servlet_accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_formateurs</display-name>
    <servlet-name>servlet_formateurs</servlet-name>
    <servlet-class>Admin_servlet.servlet_formateurs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_formateurs</servlet-name>
    <url-pattern>/servlet_formateurs</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>servlet_formateur</display-name>
    <servlet-name>servlet_formateur</servlet-name>
    <servlet-class>Admin_servlet.servlet_formateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_formateur</servlet-name>
    <url-pattern>/servlet_formateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_supprimer</display-name>
    <servlet-name>servlet_supprimer</servlet-name>
    <servlet-class>Admin_servlet.servlet_supprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_supprimer</servlet-name>
    <url-pattern>/servlet_supprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_supp_f</display-name>
    <servlet-name>servlet_supp_f</servlet-name>
    <servlet-class>Admin_servlet.servlet_supp_f</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_supp_f</servlet-name>
    <url-pattern>/servlet_supp_f</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletApprenant</display-name>
    <servlet-name>servletApprenant</servlet-name>
    <servlet-class>Admin_servlet.servletApprenant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletApprenant</servlet-name>
    <url-pattern>/servletApprenant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>app</display-name>
    <servlet-name>app</servlet-name>
    <servlet-class>web.app</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>/app</url-pattern>
  </servlet-mapping>
</web-app>